.articles {
  margin-top: 6em;
}

.articles-title {
  font-size: 2rem;
}

.articles-card > a:nth-child(1) {
  width: fit-content;
  font-size: 1.7rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  color: black;
}

.articles-card > a:nth-child(1):hover {
  text-decoration: underline;
}

.articles-card > p {
  font-size: 1.1rem;
  color: hsl(250, 19%, 27%);
}

.articles-card > h4 {
  font-size: 1.1rem;
  color: hsl(250, 19%, 27%);
}

.articles-card {
  display: grid;
  gap: 1em;
  padding: 1.2em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}

.read-more-articles {
  margin-top: 1.5em;
  display: flex;
  align-items: center;
}

.read-more-articles > a {
  font-size: 1.2rem;
  color: black;
}

.read-more-articles > a:hover {
  text-decoration: underline;
}

.physics-tags {
  font-size: 1rem;
  color: #22543d;
  background-color: #c6f6d5;
  width: fit-content;
  padding: 0.3em 0.8em;
  border-radius: 9999px;
}

.web-development-tags {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #44337a;
  background-color: #e9d8fd;
  width: fit-content;
  padding: 0.3em 0.8em;
  border-radius: 9999px;
}
